:root {
  --prim-color: #2c2c2c;
  --sec-color: rgb(198, 198, 198);
  --bg-color: rgba(183, 183, 183, 0.825);
}
body {
  background: var(--bg-color);
}
.head {
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
}
.main-container {
  width: 1000px;
  margin-top: 80px;
  border-radius: 8px;
  border: 4px solid var(--prim-color);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.338) 0px 24px 80px;
}
.CodeMirror {
  font-size: 0.95rem;
  height: auto;
  width: 850px;
  max-width: 950px;
  overflow: hidden;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.427) 0px 24px 80px;
  padding: 10px 5px;
  box-sizing: border-box;
  border-radius: 10px;
}
.main-container-wrapper {
  display: flex;
  justify-content: center;
}
.setting-svg {
  padding: 8px;
  border-radius: 50%;
  border: 2px solid var(--sec-color);
  cursor: pointer;
}
.setting-btn {
  background: transparent;
  border: none;
}
.toolbar-container {
  padding: 0px;
  background: var(--prim-color);
}
.toolbar-1 {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(118, 118, 118);
  padding: 5px 0;
}
.selection-container {
  display: flex;
}
.lang-dropdown {
  margin: 0 15px;
}
.lang-dropdown,
.theme-dropdown {
  position: relative;
  top: 3px;
}
.theme-drop-btn,
.lang-drop-btn {
  width: 200px;
  text-align: left;
  font-size: 1.15rem;
  background: transparent;
  border: 2px solid var(--sec-color);
}
.lang-drop-btn:hover,
.theme-drop-btn:hover {
  background: transparent;
  border: 2px solid #fff;
}
.lang-drop-btn:active,
.theme-drop-btn:active {
  background: green;
  border: 2px solid #fff;
}
.arrow-svg {
  position: absolute;
  right: 4px;
}
.lang-menu,
.theme-menu {
  background: #2c2c2c;
  border: 2px solid #fff;
  max-height: 400px;
  overflow-y: scroll;
}
.item {
  color: #fff;
  font-size: 1.1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  background: var(--prim-color);
  text-align: center;
  transition: 0.2s ease-in-out;
}
.lang-item {
  padding: 10px 50px;
}
.toolbar-2 {
  padding: 10px;
}
.toolbar-2 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.button {
  background: transparent;
  padding: 8px 50px;
  margin: 5px 25px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}
.save-btn {
  color: green;
  border: 2px solid green;
  border-radius: 8px;
  font-size: 1rem;
}
.load-btn {
  color: yellow;
  border: 2px solid yellow;
  border-radius: 8px;
  font-size: 1.1rem;
}
.exp-btn {
  color: red;
  border: 2px solid red;
  border-radius: 8px;
  font-size: 1rem;
}
.save-btn:hover {
  color: #191919;
  background: green;
}
.load-btn:hover {
  color: #191919;
  background: yellow;
}
.exp-btn:hover {
  color: #191919;
  background: red;
}

.color-picker {
  width: 45px;
  height: 45px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.editing-container-wrapper {
  display: flex;
  justify-content: center;
}
.export-container-wrapper {
  margin: 8px;
  padding: 40px 65px;
  background: #5875df;
  max-width: 950px;
  transition: 0.25s ease-in-out;
}
.export-container {
  display: flex;
  justify-content: center;
}
