:root {
  --prim-color: #2c2c2c;
  --sec-color: #fff;
  --bg-color: rgba(183, 183, 183, 0.825);
}
body {
  background: var(--bg-color);
  overflow: scroll;
  height: 100vh;
}
.head {
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}
.Sub-head {
  text-align: center;
  margin-top: 20px;
}
.container {
  min-height: calc(100vh - 70px);
  margin-bottom: -50px;
}
.about-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  height: 50px;
}
.main-container {
  width: 1000px;
  margin-top: 30px;
  border-radius: 8px;
  border: 4px solid var(--prim-color);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.338) 0px 24px 80px;
}

.CodeMirror {
  font-size: 1rem;
  height: auto;
  overflow: hidden;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.427) 0px 24px 80px;
  padding: 10px;
  box-sizing: border-box;
  max-width: 900px;
  min-width: 700px;
  border-radius: 10px;
  word-break: break-word;
}
::-webkit-scrollbar {
  display: none;
}
.main-container-wrapper {
  display: flex;
  justify-content: center;
}
.snippet-input {
  background: transparent;
  border: 2px solid var(--sec-color);
  color: var(--sec-color);
  padding: 5px 10px;
  font-size: 1.15rem;
  border-radius: 5px;
}
.toolbar-container {
  padding: 0px;
  background: var(--prim-color);
}
.toolbar-1 {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(118, 118, 118);
  padding: 10px;
}
.left-selection-container {
  align-self: center;
}
.input-label {
  color: var(--sec-color);
  font-size: 1.1rem;
  margin-left: 10px;
}
.line-number-checkbox {
  transform: scale(2);
  margin-left: 7px;
}
.font-size-input {
  background: transparent;
  border: 2px solid var(--sec-color);
  border-radius: 5px;
  color: var(--sec-color);
  font-size: 1.1rem;
  width: 80px;
  text-align: center;
  padding: 7px 5px;
  margin-left: 20px;
}
.font-size-input-label {
  color: var(--sec-color);
  font-size: 1.1rem;
  margin-right: -20px;
}
.selection-container {
  display: flex;
}
.lang-dropdown {
  margin-right: 10px;
}
.theme-dropdown {
  margin: 0 15px;
}

.theme-drop-btn,
.lang-drop-btn {
  width: 200px;
  text-align: left;
  font-size: 1.15rem;
  background: transparent;
  border: 2px solid var(--sec-color);
}
.lang-drop-btn:hover,
.theme-drop-btn:hover {
  background: transparent;
  border: 2px solid var(--sec-color);
}
.lang-drop-btn:active,
.theme-drop-btn:active {
  background: green;
  border: 2px solid var(--sec-color);
}
.arrow-svg {
  position: absolute;
  right: 4px;
}
.lang-menu,
.theme-menu {
  background: #2c2c2c;
  border: 2px solid var(--sec-color);
  max-height: 400px;
  overflow-y: scroll;
}
.item {
  color: var(--sec-color);
  font-size: 1.1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  background: var(--prim-color);
  text-align: center;
  transition: 0.2s ease-in-out;
}
.lang-item {
  padding: 10px 50px;
}
.toolbar-2 {
  padding: 10px;
}
.toolbar-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.button {
  background: transparent;
  padding: 8px 50px;
  margin: 5px 10px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  font-size: 1.1rem;
}
.snippet-input-container {
  align-self: center;
}
.save-btn {
  color: #000;
  background: rgb(161, 221, 161);
  border: 0;
  border-radius: 8px;
}
.load-btn {
  color: #000;
  border-radius: 8px;
  border: 0;
  background: rgb(209, 209, 129);
}
.exp-btn {
  color: #000;
  background: rgb(187, 115, 115);
  border: 0;
  border-radius: 8px;
}
.save-btn:hover {
  background: rgb(141, 196, 141);
}
.load-btn:hover {
  background: rgb(189, 189, 118);
}
.exp-btn:hover {
  background: rgb(187, 106, 106);
}

.color-picker {
  height: 45px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.editing-container-wrapper {
  display: flex;
  justify-content: center;
}
.export-container-wrapper {
  padding: 40px;
  background: #5875df;
  width: 100%;
  border-radius: 3px;
  transition: 0.25s ease-in-out;
}
.export-container {
  display: flex;
  justify-content: center;
}
.modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 60%;
  background: #d3d3d3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  color: var(--prim-color);
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 28px;
  font-weight: bold;
  transform: scale(1.2);
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 20px;
  color: var(--prim-color);
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.modal-header h2 {
  font-size: 2.4rem;
  font-weight: bold;
}
.no-snip-msg {
  color: #2c2c2cbc;
  text-align: center;
  margin: 40px 10px;
  font-weight: 500;
}
.modal-body {
  padding: 2px 16px;
}
.snippet-tab {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px;
}
.tab-btns {
  align-self: center;
}
.load-snippet-btn,
.delete-snippet-btn {
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  font-size: 1.1rem;
  transition: 0.25s ease-in-out;
}
.delete-snippet-btn {
  background: rgb(211, 133, 133);
  margin-left: 10px;
}
.load-snippet-btn {
  background: rgb(161, 221, 161);
}

.delete-snippet-btn:hover {
  background: rgb(186, 106, 106);
}
.load-snippet-btn:hover {
  background: rgb(141, 196, 141);
}

.about-container .dash {
  margin: 0 30px;
}
